@using Princess.Services
@inject PresenceHandler _presenceHandler
@{
    ViewData["Title"] = "Home Page";
    ViewData["Header-title"] = "Pr3s3nc3 Overview";
}
<br>

<div class="d-flex ms-auto">
    <h1 class="h1">
        Home Pr3s3nc3
    </h1>
    <button class="btn btn-dark ms-auto mb-2 mb-lg-0">Export to Excel file</button>
    <a asp-page="/Class/Lecture" asp-route-LectureId="1" class="page-link">Lecture 1 RazorPage</a>
</div>

<div class="col-md-6 d-flex">
    <div class="col-md-6">
        <div class="form-group">
            <label>class</label>
            <select class="form-control" name="classes" id="schoolClasses"></select>
        </div>
    </div>
    <div class="col-md-6">
        <label>teacher</label>
        <select class="form-control" name="teachers" id="schoolTeacher" disabled>
            <option value="0">Select Class First</option>
        </select>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(function() {
            window.$.ajaxSetup({
                type: "post",
                url: "/Home/GetTeachersClass",
                dataType: "json"
            });
            window.$.extend({
                getClass: function() {
                    window.$.ajax({
                        data: { "ddType": "getClass" },
                        success: function(resultData) {
                            if (resultData.ok) {
                                window.$.each(resultData.text, function(index, item) {
                                    const optionHtml = `<option value="${item.Value}">${item.Text}</option>`;
                                    window.$("#schoolClasses").append(optionHtml);
                                });
                            } else {
                                window.$.each(resultData.text, function(index, item) {
                                    const optionHtml = `<option value="${item.Value}">${item.Text}</option>`;
                                    window.$("#schoolClasses").append(optionHtml);
                                });
                            }
                        }
                    });
                },
                //without classid 
                getTeacher: function() {
                    window.$.ajax({
                        data: { "ddType": "getTeacher" },
                        success: function(resultData) {
                            window.$("#schoolTeacher option").remove();
                            if (resultData.ok) {
                                window.$("#schoolTeacher").prop("disabled", false);
                                window.$.each(resultData.text, function(index, item) {
                                    const optionHtml = `<option value="${item.Value}">${item.Text}</option>`;
                                    window.$("#schoolTeacher").append(optionHtml);
                                });
                            } else {
                                window.$.each(resultData.text, function(index, item) {
                                    const optionHtml = `<option value="${item.Value}">${item.Text}</option>`;
                                    window.$("#schoolTeacher").append(optionHtml);
                                });
                            }
                        }
                    });
                }
            });
            window.$.getClass();
            window.$("#schoolClasses").on("change", function() {
                window.$.getTeacher();
            });
            //with classid method and u have to put it as parameter int classId in actionmethod
            //    getTeacher: function(classId) {
            //        window.$.ajax({
            //            data: { "classId": classId, "ddType": "getTeacher" },
            //            success: function(resultData) {
            //                window.$("#schoolTeacher option").remove();
            //                if (resultData.ok) {
            //                    window.$("#schoolTeacher").prop("disabled", false);
            //                    window.$.each(resultData.text, function(index, item) {
            //                        const optionHtml = `<option value="${item.Value}">${item.Text}</option>`;
            //                        window.$("#schoolTeacher").append(optionHtml);
            //                    });
            //                } else {
            //                    window.$.each(resultData.text, function(index, item) {
            //                        const optionHtml = `<option value="${item.Value}">${item.Text}</option>`;
            //                        window.$("#schoolTeacher").append(optionHtml);
            //                    });
            //                }
            //            }
            //        });
            //    }
            //});
            //window.$.getClass();
            //window.$("#schoolClasses").on("change", function() {
            //    var classId = window.$(this).val();
            //    window.$.getTeacher(classId);
            //});
        });
    </script>
}
